

.scoreboard {
  position: relative;
  text-align: center;
  border-collapse: collapse;
  background-color: rgb(60, 65, 92);
}

th {
  padding-left: 10px;
  padding-right: 10px;
  width: 80px;
  align-items: center;
}

tr {
  height: 50px;
}


/* Alternating colors of scoreboard rows */
.row:nth-child(even) {background-color: rgb(180, 165, 165);}

.altRow:nth-child(odd) {background-color: rgb(180, 165, 165);}