
.container {
  display: flex;
  width: 800px;
  height: 30px;
  align-items: center;
}

.flex {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;

}

.date {
  width: 150px;
}

.name {
  width: 80px;
}

.hand {
  width: 30px;
}