
.content {
  position: relative;
  overflow: auto;
  display: inline-block;
  max-height: 500px;
  border-radius: 5px;
}

.header {
  font-size: medium;
  background-color: rgb(180, 165, 165);
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
}

.flex {
  flex-grow: 1;
}