

body {
  background-color: rgb(21, 21, 21);
  text-align: center;
  padding-top: 50px;
}


.scrollDiv {
  position: relative;
  overflow: auto;
  height: 500px;
  display: inline-block;


}

.fadeDiv {
  position: relative;
  display: inline-block;
}

.fadeDiv::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0), rgb(21, 21, 21) 90%);
  width: 100%;
  height: 8em;
}

h1 {
  font-size: 36px;
  color: whitesmoke;
}







